@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.main-container{
  min-height: 102vh;
  width: 100vw;
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 760px){
  .main-container{
    width: 760px;
    height: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tageline-two{

  }
}

.first-page-text{
  width: 100%;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 200px 200px;
}

.tagline-one{
    font-size: 40px;
    margin-top: 25px;
    font-style: italic;
}

.tageline-two{
  font-size: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.tell-me-more-btn{
  height: 70px;
  width: 200px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background: #FBD249;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border-radius: 3%;
}

.tell-me-more-btn:hover{
  cursor: pointer;
}